body{
padding: 0;
margin: 0;
    
}




.box{
display: flex;
justify-content: center;
margin-top: 4cm;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15vh;
font-weight: 400;

}


.a, .d{
color: blue;
}
.b, .f{
color: rgba(240, 32, 32, 0.925);
}

.c{
color: rgb(214, 184, 15);
}
.e{
color: green;
}

img{
height: 4vh;
justify-content: center;
display: flex;
margin-top: 1%;
margin-left: 10px;




}
.border{
margin-top: 15vh;
border: 2px solid rgb(119, 115, 115);
margin-left: auto;
margin-right: auto;
border-radius: 40px;
height: 8vh;
justify-content: center;
width: 30cm;



}

@media screen and (max-width:700px){
.border{
width: 400px;
justify-content: center;
}
}
