*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

body{
    justify-content: center;
    align-items: center;
    display: flex;

    }
    


section{
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}

section header{
position: absolute;
top: 0;
width: 100%;
display: flex;
justify-content: flex-end;
padding: 20px;

}

img{
height: 20px;
}

section header ul{
display: flex;

}

section header ul li{
list-style: none;
margin-left: 20px;
}

section header ul li a{
color: #111;
text-decoration: none;
font-size: 1rem;
}

section header ul li button{
background: #4584ef;
border: none;
outline: none;
padding: 8px 14px;
color: #fff;
font-size: 1rem;
font-weight: 700;
border-radius: 3px;
cursor: pointer;
}

.box{
font-family: Roboto, "Segoe UI', Tahoma, Sans-serif";
font-size: 4rem;
font-weight: 600;
justify-content: center;
align-items: center;
display: flex;
position: absolute;
top: 25%;
}

.a, .d{
color: #4285f4;
}

.b, .f{
color: #f16f3b;
}

.c{
color: #FFBB00;
}

.e{
color: #7CBB00;
}






img{
height: 20px;
color: #777;

}


.base{
display: flex;
position: absolute;
margin-top: 20px;
width: 400px;
height: 40px;
border: 1px solid #d5d4d4;
background-color: white;
border-radius: 30px;
align-items: center;
padding: 20px;
left: auto;
right: auto;



}

.base > input{
flex: 1;
height: 40px;
border: none;
outline: none;
font-size: 18px;

}

@media all and (max-width: 500px){ 

}
@media (orientation: landscape){
section{
position: relative;
}
section header{
position:absolute;
top: 0;
justify-content: flex-end;
padding: 20px;

}
section header ul{
    display: flex;
    
    }
.box{
justify-content: center;
display: flex;
position: absolute;
}

.base{
display: flex;
position: absolute;
align-items: center;

}


}

@media (orientation: portrait){
    section{
    position: relative;
    }
    section header{
    position:absolute;
    top: 0;
    justify-content: flex-end;
    padding: 20px;
    
    }
    section header ul{
        display: flex;
        
        }
    .box{
    justify-content: center;
    display: flex;
    position: absolute;
    }
    
    .base{
    display: flex;
    position: absolute;
    align-items: center;
    width: auto;
    
    }
    
    
    }
    









